<div class="row  mt-4 ms-4">
    <h4>from-event</h4>
    <div class="col-md-4 ">
        <div class="card">
            <div class="card-header">
                Add video
            </div>
            <div class="card-body">
                <button #add class="btn btn-primary">add</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card ">
            <div class="card-header">
                list
            </div>
            <div class="card-body">
                <ul id="elcontainer">

                </ul>

            </div>
        </div>
    </div>
</div>