<div class=" row mt-4 ">

    <div class=" content-row col-md-12 ">
        <ul class="list col-md-4" routerLink="./from-event" style="text-align:center; color:black; font-weight:bold;padding-top:50px;  font-size:30px;">
            <li class="list-1">From-Event</li>
        </ul>
        <ul class="list ms-1 col-md-4" routerLink="./interval" style="text-align:center; color:black; font-weight:bold;padding-top:50px; font-size:30px;">
            <li class="list-2">Interval</li>
        </ul>
        <ul class="list ms-1 col-md-4" routerLink="./off-from" style="text-align:center; color:black; font-weight:bold;padding-top:50px; font-size:30px;">
            <li class="list-3">off and from</li>
        </ul>
    </div>
    <div class="content-row col-md-12">
        <ul class="list ms-1 col-md-4" routerLink="./to-array" style="text-align:center; color:black; font-weight:bold;padding-top:50px; font-size:30px;">
            <li class="list-4">to-Array</li>
        </ul>
        <ul class="list ms-1 col-md-4" routerLink="./custom-observable" style="text-align:center; color:black; font-weight:bold;padding-top:50px; font-size:30px;">
            <li class="list-4">custom-observable</li>
        </ul>
        <ul class="list ms-1 col-md-4" routerLink="./custom-observable" style="text-align:center; color:black; font-weight:bold;padding-top:50px; font-size:30px;">
            <li class="list-4">custom-observable</li>
        </ul>

    </div>

</div>