<div class="col my-3 mx-3">
    <h2>custom-observable</h2><br>
    <div class="row">
        <div class="col-md-4 border">
            <strong>Ex-1(manual)</strong>
            <hr>
            <ul>
                <li>Angular</li>
                <li>TypeScript</li>
                <li>Html and Css</li>
            </ul>>
        </div>
        <div class="col-md-4 border">
            <strong>Ex-2(custome interval observable)</strong>
            <hr>
            <ul>
                <li>Angular</li>
                <li>TypeScript</li>
                <li>Html and Css</li>
            </ul>>
        </div>
    </div>
</div>