<div class="row  mt-4 ms-4">
    <h4>Interval</h4><br> {{obsMsg}}<br>
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-primary ">
                <div class="card-header bg-dark" style="color:white;">
                    list
                </div>
                <div class="card-body">
                    <ul id="elcontainer">
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-primary">
                <div class="card-header bg-dark" style="color:white;">
                    list
                </div>
                <div class="card-body">
                    <ul id="elcontainer2">
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>