<h4>off-from</h4>

<div class=" my-3 mx-3  ">

    <div class="row border ">
        <div>
            <div class="col-md-4">

                <p class="border rounded bg-dark  px-2 py-2 " style="color:white;"><strong>Data</strong>&nbsp; of("anant","vikas","singh")</p>
            </div>

            <div class="col-md-4">
                <div class="card ">
                    <div class="card-header bg-secondary " style="color:white;">
                        of example with string
                    </div>
                    <div class="card-body">
                        <ul id="elcontainer">

                        </ul>
                    </div>
                </div>

            </div>

        </div>
        <div class="pt-2">
            <div class="col-md-4 ">

                <p class="border rounded bg-dark  px-2 py-2 " style="color:white;"><strong>Data</strong>&nbsp; of(&#123;a:"ram",b:"shyam",c:"seeta"&#125;)</p>
            </div>

            <div class="col-md-4">
                <div class="card ">
                    <div class="card-header bg-secondary " style="color:white;">
                        of example of objects
                    </div>
                    <div class="card-body">
                        <ul id="elcontainer">
                            <li><strong>a:</strong> &nbsp;{{obmsg.a}}</li>
                            <li><strong>b:</strong>&nbsp;{{obmsg.b}}</li>
                            <li><strong>c:</strong>&nbsp;{{obmsg.c}}</li>

                        </ul>
                    </div>
                </div>

            </div>

        </div>
        <div class="pt-2">
            <div class="col-md-4 ">

                <p class="border rounded bg-dark  px-2 py-2 " style="color:white;"><strong>Data</strong>&nbsp; of(["events"," argument","sequence"])</p>
            </div>

            <div class="col-md-4">
                <div class="card ">
                    <div class="card-header bg-secondary " style="color:white;">
                        from example of array
                    </div>
                    <div class="card-body">
                        <ul id="elcontainer3"></ul>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>